*~
_*
*.o
*.d
*.asm
*.sym
*.img
*.bin
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs
.gdbinit
internal_fs_*
*.swp
*.orig
.vscode
.testci
cppcheck-report/
cppcheck.xml
required_changes.txt
windows-debugging/
*.log
.idea/
docs/source/_build/
docs/virtdocs/
**/__pycache__/
build/
.tags
tags
