*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernel
kernelmemfs
mkfs
.gdbinit
internal_fs_*
*.swp
*.orig
.vscode
.testci
cppcheck-report/
cppcheck.xml
required_changes.txt
vectortests
windows-debugging/
*.log
.idea/
images/extracted/
images/metadata/
images/img_internal_fs_*/